* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 'Dancing Script', cursive;
    background-color: white;
}
h1{
    padding: 2%;
    text-align: center;
    font-size: 2rem;
    color: deeppink;
    background-color: #00bbf0;
}
.parteImportante {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}

.cupcakelogo {
    width: 20%;
    height: auto;
}

nav {
    margin-right: 101px;
}

ul .nav-part {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 100px;
}
li{
    list-style: none;
}
li a {
    list-style: none;
    color: #00bbf0;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    margin-right: 70px;
}

.chupetin {
    width: 20%;
    height: auto;
}


/* Slideshow container features */

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}


/* making the images invisible by default */

.Containers {
    display: none;
    text-align: center;
    margin: 70px;
}


/*Forward and Back Buttons */

.Back,
.Forward {
    cursor: pointer;
    top: 48%;
    position: absolute;
    width: auto;
    color: deeppink;
    padding: 17px;
    margin-top: -23px;
    font-size: 19px;
    font-weight: bold;
    transition: 0.1s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}


/* Place the button to the left*/

.Back {
    left: 0;
}


/* Place the button to the right*/

.Forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}


/* Caption Info */

.Info {
    color: hotpink;
    font-size: 22px;
    padding: 8px 22px;
    position: absolute;
    width: 100%;
    text-align: center;
}


/* Work numbering */

.MessageInfo {
    color: hotpink;
    font-size: 20px;
    padding: 20px 20px;
    position: absolute;
    top: 0;
}


/* The circles and bullets indicators */

.boxDots {
   
}

.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: hotpink;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}


/*fade Animation*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 2;
    }
}
footer{
    background-color: #00bbf0;
    padding: 2%;
}
.footer-main{
    display: flex;
    justify-content: space-evenly;
}
.footer-part span{
    text-align: center;
    margin-top: 6%;
    display: block;
    font-size: 1.3rem;
    font-weight: 900;
    font-style: italic;
    color: blue;
}
.footer-part ul{
 display: block;
 margin-top: 8%;
 margin-left: 0;
 margin-right: 0;
}
.footer-part ul li{
    list-style: none;
    font-size: 1.2rem;
    color: white;
}
h2.title{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3%;
    margin-top: 3%;
}
p.first-text{
    text-align: center;
    width: 36%;
    margin-left: 3%; 
    line-height: 30px;
}
.first-main{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
figcaption{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
p.second-text{
    margin-left: 2%;
    margin-right: 2%;
    line-height: 30px;
    margin-bottom: 2%;
}